body{
    background-color: cadetblue;
    height:100vh;
    width:100vw;
    margin:0;
    padding: 0;
    font-size:20px;
    line-height: 40px;
    font-family: Roboto;
}

.box > div{
    width:80%;
}

.order{
    position: relative;
    top:15%;
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.total{
    margin-top: 20px;
}
.order > div{
    width:100%;
    margin-top:12px;
    display: flex;
    justify-content: space-between;
}

.name{
    font-weight: 600;
    color: rgba(114, 103, 103, 0.68);
}

.price{
    font-weight: 700;
    color: rgb(56, 48, 48);
}

p{
    margin:0;
    padding: 0;
    width:80%;
    font-size: 15px;
    color:rgba(128, 128, 128, 0.662)
}

.container{
    border-radius: 10%;
    position: relative;
    padding: 15px;
    top: 5%;
    left:50%;
    transform: translateX(-50%);
    height:500px;
    width:600px;
    background-color: aliceblue;
    overflow: hidden;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:-1;
}

#bicycle{
    width:580px;
    position: absolute;
    bottom: -55%;
    left:2%;
    transform: translateY(-40%);
}

.borders{
    z-index:1;
    border-radius: 100%;
    border:2px rgb(184, 184, 184) solid;
    width:35px;
    height: 35px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.hover-account{
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
}

.hover-account:hover{
     border-radius: 50%;
     background-color: rgba(109, 106, 106, 0.644);
     
}

.logo{
    width:30px;
}
.account{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:15px;
    margin:10px;
}
